header {
	width: 150px;
}

a,
a:link {
	color: #313131;
	text-decoration: none;
}

.btn {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: .5em 1em;
	background-color: #0074e4;
}

.menu__item {
	position: relative;
	background-color: pink;
	padding: 10px;
	list-style: none;
}

.drop-menu--sub{
	top: 0;
	left: 150px;
	position: absolute;
	width: 100%;
}

.drop-menu__item--sub {
	background-color: grey;
	padding: 10px;
	list-style: none;
	list-style: none;
}

.collapsed {
	visibility: hidden;
}
