header {
	width: 150px;
}

a,
a:link {
	color: #313131;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	padding: 10px;
	transition: background-color .2s ease;
}

a:hover,
a:focus {
	background-color: #0074e4;
	color: #fff;
}

.btn {
	text-align: center;
	display: block;
	text-decoration: none;
	color: #fff;
	padding: .5em 1em;
	background-color: #0074e4;
}

.menu__item {
	position: relative;
	list-style: none;
}

.menu--sub{
	top: 0;
	left: 150px;
	position: absolute;
	width: 100%;
}

.collapsed {
	visibility: hidden;
}
